# Ignoring auto-created files by Code::Blocks and base file's project
bin/
obj/
help/
*.layout
*.depend
*.cbp
tower-defense.cbp
tower-defense.depend

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cbp
tower-defense.cbp
*.depend
tower-defense.depend
